.home {
    height: 300px;
    border: 20px solid;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: auto;
    margin: auto;
}

.block {
    text-align: center;
    height: 75px;
}

.cell-y {
    padding: auto;
    margin: auto;
    height: 50px;
}

.cell-x {
    padding: auto;
    margin: auto;
    height: 35px;
}

.cellZ {
    padding: auto;
    margin: auto;
}